html {
  scroll-behavior: smooth;
}
/*body basique de tout les page*/
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url('https://images7.alphacoders.com/117/1177322.jpg');
  background-color: white;
  color: white;
  background-attachment: fixed;
  font-family: 'myFont', sans-seri;

}

/* Police d'écriture */
@font-face {
  font-family: 'myFont';
  src: url('style/Police/romanblack.ttf') format('truetype'),
    url('style/Police/MorrisRoman-Black.ttf') format('truetype');
}

#lienArm {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: white;
}



/*Bouton top*/
.imgtop {
  max-height: 5%;
  height:auto;
  max-width: 5%;
  width:auto;
  background-color: white;
  float: right;
}

/*Parametre du formulaire*/
.formul {
  max-width: 50%;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 106, 255, 0.05);
  border-radius: 5px;
}

/*Parametre du menu deroulant*/
.menuderoulant {
  height: 15%;
  width: 100%;
  list-style: none;
  padding: 0%;
  margin: 0%;
  position: fixed;
  top: 0;
  float:left ;
}

.menuderoulant li {
  float: left;
  width: 20%;
}

.menuderoulant li a:link,
.menuderoulant li a:visited {
  display: block;
  color: #FFFFFF;
  background: #293245;
  padding: 6px 10px;
  border-right: 1px solid #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.menuderoulant li a:hover {
  background-color: black;
}

.menuderoulant li a:active {
  background-color: white;
}

.menuderoulant .sousmenu {
  list-style-type: none;
  display: none;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}

.menuderoulant .sousmenu li {
  float: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
}

.menuderoulant .sousmenu li a:link,
.menuderoulant li a:visited {
  display: block;
  color: #FFFFFF;
  text-decoration: dotted;
  background-image: url('https://static.vecteezy.com/ti/vecteur-libre/p3/1813556-texture-vecteur-bleu-clair-dans-un-style-rectangulaire-vectoriel.jpg');
}

.menuderoulant .sousmenu li a:hover {
  background-color: white;
}

.menuderoulant li:hover .sousmenu {
  display: block;
}
/*container des images des déscriptions des tutoriel*/
.container1 {
  box-shadow: 0px 0px 10px black;
  display: flex;
  justify-content: center;
  background-color: rgba(37, 48, 58, 0.7);
  border-radius: 5%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 100%;
  max-height: 100%;
}

.container1::after {
  display: block;
  clear: both;
  content: "";
}
/*container des images des déscriptions des armes*/
.container2 {
  box-shadow: 0px 0px 10px black;
  display: flex;
  justify-content: center;
  background-color: rgba(164, 128, 162, 0.5);
  border-radius: 5%;
  padding: 5%;
  max-width: 100%;
  max-height: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.container2::after {
  display: block;
  clear: both;
  content: "";
}
/*container des images arme*/
.container3 {
  background-color: rgba(red, green, blue, 1);
  display: flex;
  border-radius: 5%;
  padding: 5%;
  max-width: 50%;
  max-height: 50%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
}

.container3::after {
  display: block;
  clear: both;
  content: "";
}
/*dimensions des images*/
.image {
  max-width: 40%;
  max-height: 40%;
}
/*classe de la présentations*/
.présentations {
  font-size: 130%;
  text-align: center;
}

/*dimensions et position des titres*/
h2{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  text-align: center;
  display: flex;
}
/*dimensions et position des texte*/
p {
  font-size: 150%;
  text-align: center;
  display: flex;
}



/*dimensions et position des vidéos*/
.vidéos {
  display: flex;
  justify-content: center;
}
/* boutons pour le formulaire*/
button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Mode web */
/*change pour le style clair*/
.light-mode {
   background-image: url('https://www.pixel4k.com/wp-content/uploads/2019/10/monster-hunter-world-iceborne_1570392791.jpg.webp');
  color: black;
}
/*change pour le style normal*/
.blue-mode{
   background-image: url('https://images4.alphacoders.com/900/900718.jpg');
    color: red;
  }


/*change pour le style sombre*/
.pink-mode {
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/044/695/695/large/romens-hydra-.jpg?1640868948');
  color: orange;
}
/*change pour le style obscure*/
.green-mode {
background-image: url('/image/gore\ magala.jpg');
  color: gold;
}